--
-- PostgreSQL database dump
--

\restrict A4QGoiLaUgKCA1d8s9ZA00RFZPecpwATWrPU2iHCjqpBVarUXBqS8sLcsUMcmf9

-- Dumped from database version 16.8
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: process_payment(); Type: FUNCTION; Schema: public; Owner: chatpay
--

CREATE FUNCTION public.process_payment() RETURNS trigger
    LANGUAGE plpgsql
    AS $$    
BEGIN
    -- Deduct from sender's wallet
    UPDATE wallets
    SET balance = balance - NEW.amount
    WHERE user_id = NEW.sender_id AND currency = NEW.currency AND balance >= NEW.amount;

    -- Add to receiver's wallet
    INSERT INTO wallets (user_id, currency, balance)
    VALUES (NEW.receiver_id, NEW.currency, NEW.amount)
    ON CONFLICT (user_id, currency) DO UPDATE
    SET balance = wallets.balance + NEW.amount;

    RETURN NEW;
END;
    $$;


ALTER FUNCTION public.process_payment() OWNER TO chatpay;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: payment_requests; Type: TABLE; Schema: public; Owner: chatpay
--

CREATE TABLE public.payment_requests (
    id integer NOT NULL,
    requester_id character varying(50) NOT NULL,
    target_id character varying(50) NOT NULL,
    amount numeric(10,2) NOT NULL,
    currency character varying(3) NOT NULL,
    status character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.payment_requests OWNER TO chatpay;

--
-- Name: payment_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: chatpay
--

CREATE SEQUENCE public.payment_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_requests_id_seq OWNER TO chatpay;

--
-- Name: payment_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: chatpay
--

ALTER SEQUENCE public.payment_requests_id_seq OWNED BY public.payment_requests.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: chatpay
--

CREATE TABLE public.payments (
    payment_intent_id uuid DEFAULT gen_random_uuid() NOT NULL,
    sender_id character varying(255) NOT NULL,
    receiver_id character varying(255) NOT NULL,
    amount numeric(18,8) NOT NULL,
    currency character varying(3) NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    method character varying(50),
    escrow_expires_at timestamp without time zone
);


ALTER TABLE public.payments OWNER TO chatpay;

--
-- Name: payments_backup; Type: TABLE; Schema: public; Owner: chatpay
--

CREATE TABLE public.payments_backup (
    id integer,
    stripe_payment_id character varying(50),
    user_id character varying(50),
    amount numeric(10,2),
    currency character varying(3),
    status character varying(50),
    created_at timestamp without time zone
);


ALTER TABLE public.payments_backup OWNER TO chatpay;

--
-- Name: users; Type: TABLE; Schema: public; Owner: chatpay
--

CREATE TABLE public.users (
    id character varying(255) NOT NULL,
    handle character varying(255),
    country character varying(2),
    kyc_status character varying(20),
    risk_tier character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    email character varying(255)
);


ALTER TABLE public.users OWNER TO chatpay;

--
-- Name: users_backup; Type: TABLE; Schema: public; Owner: chatpay
--

CREATE TABLE public.users_backup (
    id integer,
    user_id character varying(50),
    email character varying(100),
    password_hash character varying(255),
    created_at timestamp without time zone
);


ALTER TABLE public.users_backup OWNER TO chatpay;

--
-- Name: wallets; Type: TABLE; Schema: public; Owner: chatpay
--

CREATE TABLE public.wallets (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id character varying(50) NOT NULL,
    currency character varying(3) NOT NULL,
    balance numeric(18,8) DEFAULT 0,
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.wallets OWNER TO chatpay;

--
-- Name: payment_requests id; Type: DEFAULT; Schema: public; Owner: chatpay
--

ALTER TABLE ONLY public.payment_requests ALTER COLUMN id SET DEFAULT nextval('public.payment_requests_id_seq'::regclass);


--
-- Data for Name: payment_requests; Type: TABLE DATA; Schema: public; Owner: chatpay
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: chatpay
--



--
-- Data for Name: payments_backup; Type: TABLE DATA; Schema: public; Owner: chatpay
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: chatpay
--

COPY public.users (id, handle, country, kyc_status, risk_tier, created_at, email) FROM stdin;
user456	Friend	US	pending	low	2025-09-16 15:03:08.638727	\N
user123	Peter	NG	pending	low	2025-09-13 19:13:01.193199	peter@example.com
\.


--
-- Data for Name: users_backup; Type: TABLE DATA; Schema: public; Owner: chatpay
--

COPY public.users_backup (id, user_id, email, password_hash, created_at) FROM stdin;
2	user123	user@example.com	$2a$10$ISi4.hLwG8qs9qpkHp5hYud0GKkuJCMgazmrXI8CLYhHv35FgQ2HC	2025-09-13 19:13:01.193199
14	user456	friend@example.com	hashed_pw2	2025-09-16 15:03:08.638727
\.


--
-- Data for Name: wallets; Type: TABLE DATA; Schema: public; Owner: chatpay
--

COPY public.wallets (id, user_id, currency, balance, status, created_at) FROM stdin;
9ca5cb9f-c59d-4c39-99c6-4daaa6a247a5	user123	USD	70.00000000	active	2025-09-16 15:03:08.662462
e573113e-b58e-4417-a72a-0c570affc9b6	user456	EUR	314.85000000	active	2025-09-16 15:03:08.662462
e3f7384f-5fb4-4b56-9a4e-18e5992c55e1	user456	NGN	20.00000000	active	2025-09-16 15:46:42.19716
ff1dc2a7-2f93-404a-a620-1ad387b54e2a	user456	USD	1130.00000000	active	2025-09-16 15:31:41.828801
\.


--
-- Name: payment_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chatpay
--

SELECT pg_catalog.setval('public.payment_requests_id_seq', 32, true);


--
-- Name: payment_requests payment_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: chatpay
--

ALTER TABLE ONLY public.payment_requests
    ADD CONSTRAINT payment_requests_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: chatpay
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (payment_intent_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: chatpay
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: chatpay
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wallets wallets_pkey; Type: CONSTRAINT; Schema: public; Owner: chatpay
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_pkey PRIMARY KEY (id);


--
-- Name: wallets wallets_user_id_currency_key; Type: CONSTRAINT; Schema: public; Owner: chatpay
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_user_id_currency_key UNIQUE (user_id, currency);


--
-- Name: payments trg_process_payment; Type: TRIGGER; Schema: public; Owner: chatpay
--

CREATE TRIGGER trg_process_payment AFTER INSERT ON public.payments FOR EACH ROW WHEN (((new.status)::text = 'succeeded'::text)) EXECUTE FUNCTION public.process_payment();


--
-- Name: payments payments_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: chatpay
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.users(id);


--
-- Name: payments payments_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: chatpay
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: wallets wallets_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: chatpay
--

ALTER TABLE ONLY public.wallets
    ADD CONSTRAINT wallets_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict A4QGoiLaUgKCA1d8s9ZA00RFZPecpwATWrPU2iHCjqpBVarUXBqS8sLcsUMcmf9

